@import 'variables';

.card {
  box-sizing: border-box;
  width: $card-width;
  padding: $card-padding;
  background-color: $color-card-bg;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 16px auto 40px;
    align-self: center;
  }

  &__title {
    font-size: 12px;
    font-weight: $font-weight-medium;
    line-height: 18px;
    color: $color-text-main;
    margin: 0 0 4px;
  }

  &__code {
    font-size: 10px;
    font-weight: $font-weight-regular;
    line-height: 14px;
    color: $color-text-muted;
    margin-bottom: 16px;
  }

  &__rating {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__review {
    font-size: 10px;
    padding: 0;
    font-weight: $font-weight-regular;
    line-height: 16px;
    color: $color-text-main;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &-word {
      font-size: 12px;
      line-height: 18px;
      font-weight: $font-weight-regular;
      color: $color-text-muted;
    }

    &-value {
      font-size: 16px;
      font-weight: $font-weight-bold;
      line-height: 18px;
      color: $color-text-main;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-sizing: border-box;
    background-color: $color-button-bg;
    color: $color-button-text;
    border: 1px solid $color-button-border;
    border-radius: 5px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      background-color: $color-card-bg;
      color: $color-button-bg;
    }
  }
}
