$main-font: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$color-card-bg: #fff;
$color-text-main: #060b35;
$color-text-muted: #616070;
$color-button-bg: #00acdc;
$color-button-border: #00acdc;
$color-button-text: #fff;
$card-width: 200px;
$card-padding: 16px;
